---
layout: default
---

<section>
  <div class="wrapper">
    <h1 class="section-heading"></h1>
  </div>
</section>

<div class="capsule">

  <section>
    <div class="wrapper">
      <div class="section-heading-wrapper section-heading-wrapper--capsule-top">
        <h1 class="section-heading">About</h1>
      </div>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <div class="section-heading-wrapper">
        <h1 class="section-heading">Works</h1>
      </div>
      {% for work in site.data.works %}
      <section class="work">
        <h1 class="work-heading">{{ work.title }}</h1>
        <img src="{{ work.images[1] }}" alt="{{ work.title }}">
        {% for src in work.images %}
         <p>{{ src }}</p>
        {% endfor %}
      </section>
      {% endfor %}
    </div>
  </section>

  <section>
    <div class="wrapper">
      <div class="section-heading-wrapper">
        <h1 class="section-heading">Link</h1>
      </div>
    </div>
  </section>

</div>
