<div class="container">
<header class="site-header">
  <div id="hamburger"><hr><hr><hr></div>

  <nav class="nav" role="navigation">
    <div class="wrapper">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#works">Works</a></li>
        <li><a href="#info">Info</a></li>
        <li><a href="#photos">Photo</a></li>
        <li><a href="#links">Links</a></li>
      </ul>
    </div>
  </nav>

  <div class="banner">
    <div class="header-bg-ellipse">
      <h1 class="identity"><img src="img/identity.png" alt="Media Design Works 2014"></h1>
    </div>
  </div>

</header>
