<head>
    <meta charset="utf-8" prefix="og: http://ogp.me/ns#">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <!-- ToDo: Place favicon, apple-touch-icon, and image for the facebook/twitter card  -->

    <!-- <link rel="shortcut icon" href="{Favicon}">
    <link rel="apple-touch-icon" href="{PortraitURL-128}"> -->

    <link rel="canonical" href="{{ site.url }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="article">
    <!-- <meta property="og:image" content="">
    <meta name="twitter:image" content=""> -->
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="{{ site.url }}">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
